<div class="col s9">


  <form id="new-event">

    <ul class="collection">
      <h4 class="center">Create new Event</h4>
      <li class="collection-item">
        <div class="row">
          <div class="input-field col s12">
            <input id="event-name" type="text" class="validate" required>
            <label for="name">Event Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="event-address" type="text" class="validate" required>
            <label for="address">Address</label>
          </div>
          <div class="input-field col s6">
            <input id="event-city" type="text" class="validate" required>
            <label for="city">City</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="event-state" type="text" class="validate" required>
            <label for="state">State</label>
          </div>
          <div class="input-field col s6">
            <input id="event-zip" type="text" class="validate" required>
            <label for="zip">Zip</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="select-date" type="text" class="datepicker" required>
            <label class="active" for="date">Date</label>
          </div>
          <div class="input-field col s6">
            <input id="select-time" type="text" class="timepicker" required>
            <label class="active" for="time">Time</label>
          </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button id='add-event' style="float:right;" class="btn waves-effect waves-light" type="submit" name="action">
              Submit
            </button>
          </div>
        </div>

     </li>
   </ul>
  </form>

<div>
