<!-- Page Layout here -->
<div class="row">

  <div id="dashboard-nav" class="col s3">
    <!-- Grey navigation panel -->
    <div id="dashboard-links" class="collection" style="height:84vh; background-color:white;">

        <a href="#!" class="collection-item">
          <img width="50px" height="50px" src="http://www.imgur.com/<%= hostInfo.profileImageId %>.jpg" alt="" class="circle">
          <p> <%= hostInfo.hostname %> <br>
          <!--
          <span class="title"></span>
             Second Line
          -->
          </p>
        </a>


        <a href="javascript:void(0);" id="dashboard" class="collection-item active"><i class="fa fa-tachometer"></i> Dashboard</a>
        <a href="javascript:void(0);" id="add" class="collection-item"><i class="fa fa-plus"></i> Add Event</a>
        <a href="javascript:void(0);" id="stats" class="collection-item"><i class="fa fa-bar-chart"></i> Statistics</a>
        <a href="javascript:void(0);" id="settings" class="collection-item"><i class="fa fa-cog"></i> Settings</a>
      </div>
  </div>

  <div id="dashboard-page" class="col s9">
    <!-- Teal page content  -->

    <div class="row">

      <ul id="host-events" class="collection">
      </ul>

    <div>

  </div>

</div>
