<!-- Page Layout here -->
<div class="row">

  <div id="dashboard-nav" class="col s2">
    <!-- Grey navigation panel -->
    <div id="dashboard-links" class="collection" >
      <p> <i class="fa fa-bars"></i> Search Menu</p>
      <hr>
      <div class="row">
       <div class="input-field col s12">
         <input value="" id="first_name2" type="text" class="validate">
         <label for="first_name2">Seach</label>
       </div>
     </div>
    <div class="row">
     <div class="input-field col s12">
       <input id="list-date-picker" type="text" class="datepickerList">
       <label class="active" for="start">Date</label>
     </div>
   </div>
    <div class="row">
     <div class="input-field col s12">
      <p>Categories</p>
      <p>
        <input type="checkbox" id="test1"/>
        <label for="test1">Sports</label>
      </p>
      <p>
        <input type="checkbox" id="test2"/>
        <label for="test2">History</label>
      </p>
      <p>
        <input type="checkbox" id="test3"/>
        <label for="test3">Pop Culture</label>
      </p>
      <p>
        <input type="checkbox" id="test4"/>
        <label for="test4">General</label>
      </p>
      <p>
        <input type="checkbox" id="test5"/>
        <label for="test5">Science</label>
      </p>
     </div>
   </div>

    </div>
  </div>

  <div id="dashboard-page" class="col s9">
    <!-- Teal page content  -->

    <div class="row">

      <ul class="collection">
       <li class="collection-item avatar">
         <i class="material-icons circle">folder</i>
         <span class="title">Title</span>
         <p>First Line <br>
            Second Line
         </p>
         <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
       </li>
       <li class="collection-item avatar">
         <i class="material-icons circle">folder</i>
         <span class="title">Title</span>
         <p>First Line <br>
            Second Line
         </p>
         <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
       </li>
       <li class="collection-item avatar">
         <i class="material-icons circle green">insert_chart</i>
         <span class="title">Title</span>
         <p>First Line <br>
            Second Line
         </p>
         <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
       </li>
       <li class="collection-item avatar">
         <i class="material-icons circle red">play_arrow</i>
         <span class="title">Title</span>
         <p>First Line <br>
            Second Line
         </p>
         <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
       </li>
     </ul>

    <div>

  </div>

</div>
