<!-- Page Layout here -->
<div class="row">

  <div id="dashboard-nav" class="col s2">
    <!-- Grey navigation panel -->
    <div id="dashboard-links" class="collection" >
      <h5>Search Options</h5>
      <hr>
      <label>Browser Select</label>
        <select class="browser-default">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>

      <div class="row">
    <div class="input-field col s12">
      <input value="Alvin" id="first_name2" type="text" class="validate">
      <label class="active" for="first_name2">City</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input value="Alvin" id="first_name2" type="text" class="validate">
      <label class="active" for="first_name2">State</label>
    </div>
  </div>
    </div>
  </div>

  <div id="dashboard-page" class="col s9">
    <!-- Teal page content  -->

    <div class="row">

      <ul class="collection">
       <li class="collection-item avatar">
         <i class="material-icons circle">folder</i>
         <span class="title">Title</span>
         <p>First Line <br>
            Second Line
         </p>
         <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
       </li>
       <li class="collection-item avatar">
         <i class="material-icons circle">folder</i>
         <span class="title">Title</span>
         <p>First Line <br>
            Second Line
         </p>
         <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
       </li>
       <li class="collection-item avatar">
         <i class="material-icons circle green">insert_chart</i>
         <span class="title">Title</span>
         <p>First Line <br>
            Second Line
         </p>
         <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
       </li>
       <li class="collection-item avatar">
         <i class="material-icons circle red">play_arrow</i>
         <span class="title">Title</span>
         <p>First Line <br>
            Second Line
         </p>
         <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
       </li>
     </ul>

    <div>

  </div>

</div>
