<div class="row center-align">
  <h3>Login</h3>

  <form>
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <input type="text" id="username" />
        <label for="username">Username</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 offset-s3">
        <input type="password" id="password" />
        <label for="password">Password</label>
      </div>
    </div>

    <div class="row">
      <div class="col s3 offset-s3">
        <input type="checkbox" id="remember_me" checked />
        <label for="remember_me">Remember me</label>
      </div>

      <div class="col s3">
        <button type="submit" id="login-button" class="waves-effect waves-light btn">Login</button>
      </div>
    </div>
  </form>
</div>
