<div class="row center-align">

  <div class="row" style="margin-top:3%;">
    <div class="col s4 m8 l4 offset-s4 offset-m2 offset-l4">
      <div class="card">
        <div class="card-content primary-color-text">
          <span class="primary-color-text card-title">Login</span>

          <form>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" id="username" />
                <label for="username"><i class="fa fa-user"></i> Username</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input type="password" id="password" />
                <label for="password"><i class="fa fa-key"></i> Password</label>
              </div>
            </div>

            <div class="row">
              <div class="col s12"">
                <button style="width:100%;" type="submit" id="login-button" class="waves-effect primary-color-bg waves-light btn">Login</button>
              </div>
            </div>
          </form>

        </div>
        <div class="card-action">
          <div class="row">
            <div>

              <div class="col s12">
                <a href="">
                  Forgot your password?
                </a>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
