<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper primary-color-bg">
      <a href="#" class="brand-logo">TriviaLite</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#/">Home</a></li>
        <li><a href="#/search">Search</a></li>
        <li><a href="#/dashboard" class="logged-in hide">Dashboard</a></li>
        <li><a href="#/register" class="logged-out">Register</a></li>
        <li><a href="#/login" class="logged-out">Login</a></li>
        <li><a href="#/signout" class="logged-in hide">Signout</a><li>
        <li><a id="profile-link" class="logged-in hide"></a><li>
      </ul>
    </div>
  </nav>
</div>
