<div class="row center-align">

  <div class="row" style="margin-top:3%;">
    <div class="col s4 m8 l4 offset-s4 offset-m2 offset-l4">
      <div class="card">
        <div class="card-content primary-color-text">
          <span class="card-title primary-color-text">Join TriviaL</span>

          <form id="register-form">
            <div class="input-field col s6">
              <input id="hostname" type="text" class="validate" required>
              <label><i class="fa fa-user"></i> Host Name</label>
            </div>

           <div class="input-field col s6 ">
             <input id="url" type="text" class="validate" required>
             <label><i class="fa fa-link"></i> URL</label>
           </div>

           <div class="input-field col s12">
             <input id="email" type="email" class="validate" required>
             <label><i class="fa fa-envelope-o"></i> Email</label>
           </div>

            <div class="input-field col s12">
              <input id="password" type="password" class="validate" required>
              <label><i class="fa fa-key"></i> Password</label>
            </div>

            <div class="input-field col s12">
              <input id="confirm-password" type="password" class="validate" required>
              <label><i class="fa fa-key"></i> Confirm Password</label>
            </div>

            <div class="row">
              <div class="col s12">
                <button style="width:100%;" type="submit" id="register-button" class="waves-effect primary-color-bg waves-light btn">Sign up</button>
              </div>
            </div>
          </form>

        </div>
        <div class="card-action">
          <div class="row">
            <div>

              <div class="col s12">
                By clicking "Sign Up" you agree to TriviaL's
                <a href="#">Terms</a> of Service for the country of your residency.
                Please also review our
                <a href="">Privacy Policy.</a>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--
<div id="cover-image" class="row">
  <img class="banner-image" src="http://universitycampus.barnsley.ac.uk/wp-content/uploads/2015/02/grey_background-banner1.jpg">
</div>

<div id="register-page">
<div class="row container">

  <div class="col s6" style="margin-left:25%;">

    <div class="row">
       <div class="col s12 ">
         <div class="card profile-card">
           <div class="card-image">
             <span class="card-title"></span>
           </div>
           <div class="card-content">
             <div class="center-align"><h5>Join TriviaL today.</h5></div>
           </div>
           <div class="card-action">
            <form id="register-form">
             <ul>
               <li>
                 <div id="form-error-message" class="center-align">
                 </div>
               </li>
               <li>
                 <div class="input-field col s6">
                   <input id="hostname" type="text" class="validate" required>
                   <label><i class="fa fa-user"></i> Host Name</label>
                 </div>
                <div class="input-field col s6">
                  <input id="url" type="text" class="validate" required>
                  <label><i class="fa fa-link"></i> URL</label>
                </div>
              </li>

               <li>
                 <div class="input-field col s12">
                   <input id="email" type="email" class="validate" required>
                   <label><i class="fa fa-envelope-o"></i> Email</label>
                 </div>
               </li>
               <li>
                 <div class="input-field col s12">
                   <input id="password" type="password" class="validate" required>
                   <label><i class="fa fa-key"></i> Password</label>
                 </div>
               </li>
               <li>
                 <div class="input-field col s12">
                   <input id="confirm-password" type="password" class="validate" required>
                   <label><i class="fa fa-key"></i> Confirm Password</label>
                 </div>
               </li>
               <li>
                 <button id="register-btn" class="btn waves-effect waves-light" type="submit" name="action">
                   Sign Up
                 </button>
               </li>
               <li>
                <p>
                By clicking "Sign Up" you agree to TriviaL's Terms of Service for the country of your residency. Please also review our Privacy Policy.
                </p>
               </li>
             </ul>
             </form>
           </div>
         </div>
       </div>
    </div>

  </div>
  <div class="col s6">
</div>
</div>
-->
