<div class="container">
  <div class="row">
    <div id="form-error" style="display:none;">
      <ul class="collection">
      <li id="form-error-message" class="collection-item"></li>
    </ul>
    </div>
    <form id="register">
      <div class="row">
        <div class="input-field col s12">
          <input id="hostname" type="text" class="validate" required>
          <label for="hostname">Hostname</label>
        </div>
      </div>

      <!-- Add profile picture
      <div class="row">
        <div class="col s12">
          <input type="file" />
        </div>
      </div>
      -->

      <div class="row">
        <div class="input-field col s12">
          <input id="url" type="text" class="validate" required>
          <label for="url">Url</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="confirm-password" type="password" class="validate" required>
          <label for="password">Confirm Password</label>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="waves-effect grey darken-4 waves-light btn">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
