<div class="search-box">
  <div class="row">
    <div class="col s4 search-card">

      <div class="card blue">

        <div class="card-content">
          <div class="card-title">Where do you want to play trivia tonight?</div>
          New York, Miami, Dallas,
        </div>

        <div class="card-action"

        <!--
          -->
          <nav>
            <div class="nav-wrapper">
              <form id="search-events">
                <div class="input-field grey darken-4">
                  <input name="search-query" id="search" type="search" placeholder="Search by postal code or city" required>
                  <label for="search"><i class="fa fa-search"></i></label>
                </div>

                <div class="col s12">
                  <button type="submit" id="search-button" class="waves-effect grey darken-4 waves-light btn">Search</button>
                </div>

              </form>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>
</div>
