body {
    background: #fafafa;
}

.search-box {
  width: 100%;
  background-color: #fff;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a8/Miami_skyline_summer_2011.JPG");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 800px;
  max-height: 100%;
}

.search-card {
  margin-left: 33% !important;
  margin-top: 10%;
}

/* Begin Materialize Overrides */
input:focus {
  border-bottom: 1px solid #42a5f5 !important;
  -webkit-box-shadow: 0 1px 0 0 #42a5f5 !important;
  -moz-box-shadow: 0 1px 0 0 #42a5f5 !important;
  box-shadow: 0 1px 0 0 #42a5f5 !important;
}

textarea:focus {
  border-bottom: 1px solid #42a5f5 !important;
  -webkit-box-shadow: 0 1px 0 0 #42a5f5 !important;
  -moz-box-shadow: 0 1px 0 0 #42a5f5 !important;
  box-shadow: 0 1px 0 0 #42a5f5 !important;
}

input:focus+label{
  color: #42a5f5 !important;
}

textarea:focus+label {
  color: #42a5f5 !important;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #42a5f5 !important;
  border-bottom: 2px solid #42a5f5 !important;
}
/* End Materialize Overrides */
