body {
    background: #fafafa;
}

#dashboard-nav {
  padding: 0px;
  margin: 0px;
}

#dashboard-links {
  height:100vh;
  background-color:white;
  margin: 0px;
}

.search-box {
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 90.5%;
  background-color: #000;
  background-size: 100% 100%;
}

#register-page {
  background-image: url("http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-223462.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 90.5%;
  background-color: #000;
}

#register-btn {
  width: 100%;
  height: 50px;
}

.search-card {
  margin-left: 33% !important;
  margin-top: 10%;
}

/* Begin Materialize Overrides */
input:focus {
  border-bottom: 1px solid #42a5f5 !important;
  -webkit-box-shadow: 0 1px 0 0 #42a5f5 !important;
  -moz-box-shadow: 0 1px 0 0 #42a5f5 !important;
  box-shadow: 0 1px 0 0 #42a5f5 !important;
}

textarea:focus {
  border-bottom: 1px solid #42a5f5 !important;
  -webkit-box-shadow: 0 1px 0 0 #42a5f5 !important;
  -moz-box-shadow: 0 1px 0 0 #42a5f5 !important;
  box-shadow: 0 1px 0 0 #42a5f5 !important;
}

input:focus+label{
  color: #42a5f5 !important;
}

textarea:focus+label {
  color: #42a5f5 !important;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #42a5f5 !important;
  border-bottom: 2px solid #42a5f5 !important;
}
/* End Materialize Overrides */

.profile-image {
  width: 100px;
  height: 100px;
}

.banner-image {
  width: 100%;
  height: 300px;
}
