@import "variables";
@import "materialize/sass/materialize";

@import "global";
@import "toastr";

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100% !important;
  height: 100% !important;
}

.top-margin {
  margin-top: 3%;
}

#view {
  overflow: auto;
  position: fixed;
  width: 100% !important;
  height: 100% !important;
}

.primary-color-bg {
  background-color: $primary-color;
}

.primary-color-text {
  color: $primary-color;
}

.secondary-color-bg {
  background-color: $secondary-color;
}

.secondary-color-text {
  color: $secondary-color;
}

.collection {
  a:hover {
    color: $secondary-color;
  }
}

#CARDS
.card {
  .card-content {
    .card-title {
      color: $primary-color;
    }
  }
} 

nav {
  a:hover {
    color: $secondary-color;
  }
}