@import "variables";
@import "materialize/sass/materialize";

@import "global";
@import "toastr";

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100% !important;
  height: 100% !important;
}

.top-margin {
  margin-top: 3%;
}

#view {
  position: fixed;
  width: 100% !important;
  height: 100% !important;
}
